{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Academic</button>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 1</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Books</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 2</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Lectures</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 3</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Content</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 4</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Courses & Certification With AI</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 5</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 6</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 7</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 8</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 9</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 10</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 11</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">CLASS 12</button><br>
    </div>
    <div class="col">

    </div>
  </div>

</div>
    <br>
    <br>
{% endblock %}
