{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Books</button>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">History</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Law</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Literature</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Psychology</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Religious</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Engineering</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Geography</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Antropology</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Economics</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Architectures</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Sociology</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Digital evolution</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Philosophy</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Environmental Science</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Politics</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Statistic</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Mathemaics</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Accounting</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Chemistry</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Music & Art</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Physics</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Culture</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Biology</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Comics</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Fictions</button><br>
    </div>
    <div class="col">
    </div>
  </div>
</div>
    <br>
    <br>
{% endblock %}
