{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Development</button>
        <br>
        <div class="row">
            <div class="col">
                 <button type="button" class="btn btn-light">New Innovations</button><br>
            </div>
            <div class="col">
                 <button type="button" class="btn btn-light">Updates</button><br>
            </div>
        </div>
    </div>
{% endblock %}