{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Digital Library Arena</button>
        <br>
        <button type="button" class="btn btn-light">Trending</button><br>
        <button type="button" class="btn btn-light">Newsfeed</button><br>
        <button type="button" class="btn btn-light">Notifications</button><br>
        <button type="button" class="btn btn-light">Your Journals</button><br>

    </div>
{% endblock %}
