<footer class="mt-5 p-5">
    <div class="container-fluid bg-light mt-auto mt-5 p-5">
       <div class="row justify-content-center">
           <h6 class="text-center"><i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-envelope"></i></h6>
           <div class="col-12 text-center">
               <h6>Terms of use</h6>
               <h6>Accessibility</h6>
               <h6>Privacy & Cookies</h6>
               <h6>Contact us</h6>
               <h6>Site Map</h6>
               <h6>@DIGITAL LIBRARY</h6>
               <h6>All rights deserves @Mohammad Monjurul Haque Fahim</h6>
           </div>
       </div>
    </div>
</footer>