{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Journals & Magazine</button>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">Forbes</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">Numero</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">Vogue</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">The Monthly</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">T3</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">Vanity Fair</button><br>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                  <button type="button" class="btn btn-light">Elle</button><br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
