{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">KIDS</button>
    <br>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Video Zone</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Games</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Short Stories</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Word Games</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Coloring</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">ABC Count Down</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Songs</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Amazing Super Heros</button><br>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Birthdays</button><br>
    </div>
    <div class="col">

    </div>
  </div>

</div>
    <br>
    <br>
{% endblock %}
