{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Languages</button>
        <button type="button" class="btn btn-light">Chinese</button><br>
        <button type="button" class="btn btn-light">Dutch</button><br>
        <button type="button" class="btn btn-light">English</button><br>
        <button type="button" class="btn btn-light">French</button><br>
        <button type="button" class="btn btn-light">Hindi</button><br>
        <button type="button" class="btn btn-light">Spanish</button><br>
        <button type="button" class="btn btn-light">Turkish</button><br>
        <button type="button" class="btn btn-light">Persian</button><br>
        <button type="button" class="btn btn-light">Urdu Arabic</button><br>
        <button type="button" class="btn btn-light">Bangla</button><br>
    </div>
{% endblock %}