{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg btn-block">Log In</button>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleInputID">ID</label>
            <input type="text" class="form-control" id="id" placeholder="Enter Your ID">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Log In As a Guest</button>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleInputID">ID</label>
            <input type="text" class="form-control" id="id" placeholder="Enter Your ID">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <br>
{% endblock %}
