<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Digital Library Arena</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'languages' %}">Language</a>
          <a class="dropdown-item" href="{% url 'books' %}">Books</a>
          <a class="dropdown-item" href="{% url 'audio_books' %}">Audio Books</a>
          <a class="dropdown-item" href="{% url 'academic' %}">Academic</a>
          <a class="dropdown-item" href="{% url 'university' %}">University</a>
          <a class="dropdown-item" href="{% url 'newspapers' %}">Newspapers</a>
          <a class="dropdown-item" href="{% url 'journals_and_magazine' %}">Journals & Magazine</a>
          <a class="dropdown-item" href="{% url 'digital_library_arena' %}">Digital Library Arena</a>
          <a class="dropdown-item" href="{% url 'enclyopedia' %}">Enclyopedia</a>
          <a class="dropdown-item" href="{% url 'research' %}">RESEARCH</a>
          <a class="dropdown-item" href="{% url 'kids' %}">Kids</a>
          <a class="dropdown-item" href="{% url 'development' %}">Development</a>
          <a class="dropdown-item" href="{% url 'translation_and_language' %}">Translation & Language</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
    </ul>
  </div>
</nav>