{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Newspapers</button>
    <br>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-light text-center" style="color: red">Country</button><br>
                <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">Bangladesh</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">Newzland</button><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">India</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">South Africa</button><br>
                    </div>
               </div>
               <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">Canada</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">Japan</button><br>
                    </div>
               </div>
               <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">Australia</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">China</button><br>
                    </div>
               </div>
               <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">USA</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">Korea</button><br>
                    </div>
               </div>
                <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">Germany</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">Malaysia</button><br>
                    </div>
               </div>
                <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-light">France</button><br>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-light">Palestine</button><br>
                    </div>
               </div>

        </div>

    </div>
    <br>
    <br>
</div>
{% endblock %}
