{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Research</button>
    <br>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">New Research</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Profiles</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Subjects</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Dictionaries</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Publications</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Ebboks</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Information</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Indexes</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">Images</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">References</button><br>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="button" class="btn btn-light">More</button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Database : Medline (MeSh)</button><br>
    </div>
  </div>

</div>
    <br>
    <br>
{% endblock %}
