{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Translation & Language</button>
        <br>
        <button type="button" class="btn btn-light">Countries</button><br>
        <button type="button" class="btn btn-light">Translations</button><br>
        <button type="button" class="btn btn-light">Language Learning</button><br>
        <button type="button" class="btn btn-light">Culture & Heritage</button><br>
        <button type="button" class="btn btn-light">Language adaptations</button><br>
        <button type="button" class="btn btn-light">Simulations</button><br>

    </div>
{% endblock %}
