{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
<br>
    <button type="button" class="btn btn-primary btn-lg btn-block">University</button>
    <br>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
              <li class="list-group-item">University Lists</li>
              <li class="list-group-item">Faculty</li>
              <li class="list-group-item">Lectures</li>
              <li class="list-group-item">Contents</li>
              <li class="list-group-item">Questions</li>
              <li class="list-group-item">Solutions</li>
            </ul>
        </div>
        <div class="col-8">
            <ul class="list-group">
              <li class="list-group-item">Research Paper</li>
              <li class="list-group-item">Project</li>
              <li class="list-group-item">Thesis</li>
              <li class="list-group-item">Publications</li>
              <li class="list-group-item">Courses & Certification With AI</li>

            </ul>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
